<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/yoodahun/Documents/Github/Java/Selenium WebDriver with Java/Framework_in_AutomationTest/TestNG">
        <classes> <!-- module -->
            <class name="section18.RunningTestcases">
            </class> <!-- module -->
        </classes>
    </test>
</suite>